.bar {
    display: none;
    position: absolute;
    background-color: white;
    padding: 8px 14px;
}

.bar li a {
    padding: 8px 14px;
}

.bar li {
    width: 180px;
}

.bar li:hover {
    background-color: grey;
    height: 52px;
}

.bar li {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 24px;
    text-decoration: none;
    height: 52px;
}

.bar li:hover ul li {
    display: block;
    position: relative;
    left: 130px;
    top: -40px;
    background-color: white;
    width: 500px;
    height: 36px;
}

.drop li {
    display: none;
    position: relative;
    left: 20px;
    background-color: white;
}

.drop li:hover {
    display: block;
    position: relative;
    left: 20px;
    background-color: white;
    width: 300px
}

.dropdown ul li ul li a:hover {
    padding: 8px 14px;
    background-color: #f3f3f3
}

.top-of-page {
    text-align: center;
    border: solid black;
    margin: 20px;
}

.Title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 36px;
    color: #bb854f;
    font-style: italic;
}

body {
    background: #05bcfe;
    background: -moz-linear-gradient(-45deg, #05bcfe 0%, #05bcfe 100%);
    background: -webkit-linear-gradient(-45deg, #05bcfe 0%, #05bcfe 100%);
    background: linear-gradient(135deg, #05bcfe 0%, #05bcfe 100%);
}

.Home-Text h2 {
    text-align: center;
    width: 100px;
    padding: 10px 50% 10px;
    font-size: 4em
}

.websites {
    position: relative;
    top: 100%;
    left: 35%;
    margin: 0;
    padding: 0;
    display: flex;
}

.websites li {
    list-style: none;
}

.websites li a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    background: #bb854f;
    text-decoration: none;
    color: #262626;
    margin: 0 10px;
    transition: .5s;
}

.websites li a span {
    position: absolute;
    transition: transform .5s;
}

.websites li a span:nth-child(1),
.websites li a span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: #262626
}

.websites li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

.websites li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.websites li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

.websites li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.websites li a span:nth-child(2),
.websites li a span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: #262626
}

.websites li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}

.websites li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

.websites li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}

.websites li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}

.Title h1 {
    font-size: 56px;
}

.MainPage img {
    position: relative;
    width: 50%;
    left: 25%;
}

.MainPage h2 {
    font-size: 1000%;
    position: relative;
    left: 25%;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    color: #ffff00;
}

.Home-Text {
    position: relative;
    background: #fae2cb;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    opacity: 90%;
}

.Home-Text p {
    text-align: center;
    font-size: 23px;
    color: black;
    width: 80%;
    position: relative;
    left: 10%;
    transform-origin: center;
}

.Home-Text h1 {
    position: relative;
    left: 25%;
}

form {
    position: fixed;
    right: 10%;
    top: 20%;
}

.customSelect select {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    -webkit-appearance: none;
    padding: 0 50px 0 20px;
    cursor: pointer;
    font: 300 18px/1.5 'Roboto', sans-serif;
    text-indent: 5px;
}

.customSelect .select {
    position: relative;
    background: #fff;
    border: 1px solid #1cbe9d;
    cursor: pointer;
}

.customSelect .select:before {
    content: '';
    background: #1cbe9d;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    pointer-events: none;
}