.dropdown {
    height: 100px;
    font-size: 23px;
    color: blue;
    background-color: #b5bec7;
}

.dropdown p {
    font-family: Arial, Helvetica, sans-serif;
    color: #121313;
    font-size: 24px;
    height: 54px;
    float: left;
    padding: 0px 20px;
}

.list-1 {
    float: left;
    background-color: grey;
    width: 1540px;
}

.list-1 li {
    float: left;
    list-style: none;
    position: relative;
}

.list-1 li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 24px;
    padding: 21px 14px;
    text-decoration: none;
    width: 100%
}

.list-1 li {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 24px;
    padding: 8px 14px;
    text-decoration: none;
}

.list-1 li:hover ul {
    display: block;
}

.list-2 {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
}

.list-2 li a {
    padding: 8px 14px;
}

.list-2 li {
    width: 180px;
}

.list-2 li:hover {
    padding: 8px 14px;
    background-color: grey;
    height: 36px;
}

.list-2 li {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 24px;
    text-decoration: none;
}

.list-2 li:hover ul li {
    display: block;
    position: relative;
    left: 160px;
    top: -40px;
    background-color: white;
}

.list-3 li {
    display: none;
    position: relative;
    left: 20px;
    background-color: white;
}

.list-3 li:hover {
    display: block;
    position: relative;
    left: 20px;
    background-color: white;
}

.dropdown ul li ul li a:hover {
    padding: 8px 14px;
    background-color: #f3f3f3
}

.top-of-page {
    text-align: center;
    border: solid black;
}

.Title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 36px;
    color: #FFFACD;
    font-style: italic;
}

body {
    background: #4f85bb;
    background: -moz-linear-gradient(-45deg, #4f85bb 0%, #4f85bb 100%);
    background: -webkit-linear-gradient(-45deg, #4f85bb 0%, #4f85bb 100%);
    background: linear-gradient(135deg, #4f85bb 0%, #4f85bb 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb', GradientType=1);
    height: 400%;
}

.Home-Text p {
    text-align: center;
    font-size: 23px
}

.Home-Text h2 {
    text-align: center;
    width: 100px;
    padding: 10px 50% 10px;
    font-size: 4em
}