html {
    height: 100%;
}

body {
    background: linear-gradient(to top left, #3055D9, #327EA6);
}

h1 {
    padding: 20px;
    height: 100%;
    font: 2em 'Roboto';
    font-size: 48px;
    font-weight: bold;
    color: darkred;
    background: rgba(167, 164, 164, .85);
    text-shadow: #000 1px 1px;
    width: 100%;
}

ul {
    padding: 10px;
}

h2 {
    color: gold;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

li {
    font-family: 'PT Serif', serif;
    background: red;
    font-size: 24px;
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

p {
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0C0010;
    text-align: center;
}

span {
    font-family: 'Roboto', serif;
}