#title {
    text-align: center;
    color: green; 
}

body {
    width: 900px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 250px;
}

th, td {
    text-align: center;
}