/* Whole page */

html {
    height: 100%;
}


/* Body */

body {
    background: #303030;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}


/* Title */

#title {
    text-align: center;
    color: black;
    font-family: sans-serif;
}

Table.header {
    align-content: center;
    /* position: absolute; */
    margin-top: 30px;
    /* margin-bottom: 30px; */
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background: grey;
    border: 2px solid black;
}

th.header {
    font-size: 30px;
}


/* Conjugation Tables */

table.table-1,
table.table-2,
table.table-3 {
    float: left;
    width: 30%;
    margin: 30px;
    border: 2px solid black;
}

th.ending {
    font-size: 25px;
}

td.ending {
    font-size: 20px;
}

.ending {
    text-align: center;
    padding: 15px;
    border: 2px solid black;
    background-color: grey;
    width: 250px;
}


/* Information Section */


/* Tabs */

table.tab {
    border: 2px solid black;
    background-color: grey;
    position: relative;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
}

th.tab {
    font-size: 25px;
}

th.tab:hover {
    border-right: 2px solid black;
    border-left: 2px solid black;
    background-color: #05bcfe;
    cursor: pointer;
}

.tab.active {
    background-color: green;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


/* Info (Container Content) */

table.info {
    border: 2px solid black;
    border-top: none;
    background-color: grey;
    margin: 0;
    margin-top: 0px;
    width: 100%;
}

table.verbs {
    margin: auto;
}

div.info {
    border: 50px;
    height: 100%;
}

td.info {
    font-size: 20px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

td.verbs {
    text-align: center;
    border-top: 1px solid black;
}