#title {
    text-align: center;
    color: grey;
    font-family: sans-serif;
}

table {
    float: left;
    /* border-collapse: collapse; */
    width: 30%;
    margin: 30px;
    border: 2px solid black;
}

th {
    font-size: 25px;
}

td {
    font-size: 20px;
}

th,
td {
    text-align: center;
    padding: 15px;
    border: 2px solid black;
    /* background-color: #4f85bb; */
    background-color: grey;
    width: 250px;
}

body {
    background: #303030;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}